<!DOCTYPE html>
<html lang="en"></html>
<head>
    <title>hello react</title>
</head>
<body>
    <div id="test"></div>
</body>

<script type="text/javascript" src="../js/react.development.js"></script>
<script type="text/javascript" src="../js/react-dom.development.js"></script>
<script type="text/javascript" src="../js//babel.min.js"></script>

<script type="text/babel">
    const myId = "dHdISShh";
    const myData = "shUUdhS"
    const VDOM = (
        <div>
            <h2 className="title" id={myId.toLocaleLowerCase()}>
                <span style={{color:"pink",fontSize:"30px"}} >{myData.toLocaleLowerCase()}</span>    
            </h2>
            <input type="text" />
        </div>
    )
    // (虚拟dom,容器)
    ReactDOM.render(
        VDOM,
        document.getElementById('test')
    )
    /**
     * 定义虚拟dom时 不写引号
     * 便签中混入js表达式时要用{}
     * 样式的类名指定不要用class，要用className
     * 内联样式，要用style={{key:value}}的形式去写
     * 只有一个根标签
     * 便签必须闭合
     * 标签有字母（1）若是小写字母开头，则改便签转为html同名元素，（2）若大写字母开头，react就去渲染对应组件，若组件没有定义，则报错
    */
</script>
