<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>引出生命周期</title>
</head>
<body>
    <div id="test"></div>
</body>
<script type="text/javascript" src="../js/react.development.js"></script>
<script type="text/javascript" src="../js/react-dom.development.js"></script>
<script type="text/javascript" src="../js/babel.min.js"></script>

<script type="text/babel">
    class Life extends React.Component {
        //生命周期回调函数===生命周期钩子函数===生命周期函数===生命周期钩子
        state = {opacity:1}
        death = ()=>{
            //清除定时器
            // clearInterval(this.timer)
            /*挂载组件 */
            ReactDOM.unmountComponentAtNode(document.getElementById('test'))
        }
        /*组件挂载完毕 页面组价渲染完毕 */
        componentDidMount(){
            this.timer = setInterval(()=>{
            let {opacity} = this.state
                opacity -= 0.1
                console.log(opacity);
                if (opacity<=0) {
                    opacity=1
                }
                this.setState({opacity})
            },200)
        }
        /*组件将要卸载 临终前回光返照*/
        componentWillUnmount() {
            clearInterval(this.timer) //也可以写在这里
        }
        //render调用时机：初始化渲染，状态更新
        render() {
            return (
                <div>
                    <h1 style={{opacity:this.state.opacity}}>react学不会怎么办？</h1>
                    <button onClick={this.death}>跳河算了</button>
                </div>
            )
        }
    }

    ReactDOM.render(<Life/>,document.getElementById('test'))
</script>
</html>